<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title%}{% endblock%}</title>
        <link rel="stylesheet"  href="/static/base.css">
    </head>
    <body>
        <div class="nav">
            <a class="logo" href="{% url 'home' %}">
                <h2>ZebroYang的博客</h2>
            </a>
            <a href="/">首页</a>
            <a href="{% url 'blog_list' %}">博客</a>
        </div>
        {% block content %}{% endblock %}
        
        
    </body>
</html>